/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */
@color-1: #fbfbfb;
@color-2: #d8b87a;
@color-3: #2e2e2e;

.flex{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox; /* ie 10 */
  display:-webkit-flex;
  display: flex;
  &_j{
    &-c{
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &-fe{
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
    }
    &-fs{
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
    }
    &-sb{
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      -webkit-box-pack: space-between;
      -ms-flex-pack: justify; /* ie 10 */
      justify-content: space-between;
    }
  }
  &_ai{
    &-c{
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align:center; /* ie 10 */
      align-items: center;
    }
    &-fs{
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align:flex-start; /* ie 10 */
      align-items: flex-start;
    }
    &-fe{
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      -webkit-box-align: flex-end;
      -ms-flex-align:flex-end; /* ie 10 */
      align-items: flex-end;
    }
    &-st{
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align:stretch;
      align-items: stretch;
    }
  }
  &_dir{
    &-col{
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical; /*ie10*/
      flex-direction: column;
    }
    &-colrev{
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      -o-flex-direction: column-reverse;
      -webkit-box-orient: vertical; /*ie10*/
      -webkit-box-direction: reverse;
      flex-direction: column-reverse;
    }
  }
}

body{
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Taviraj', serif;
	font-size: 16px;

	background-color: @color-1;
}
.btn{
	border-radius: 0;
	font-family: 'Taviraj';
	font-weight: 400;
	font-size: 1em;
	color: #fff;

	&:hover{
		color: #fff;
		
	}
	&_border{
		background-color: transparent;
		border: 1px solid transparent;
		padding: 18px 40px;
		&__color-2{
			border-color: @color-2;
		}
	}
}

.main-header{
	padding: 9px 0 8px 0;
	border-bottom: 1px solid @color-2;
	background-color: #fff;
	&_logo{
		max-width: 110px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&_socials{
		&-fb{
			a{
				// background-image: url(../img/header-social-fb.png)
			}
		}
		&-twitter{
			a{
				// background-image: url(../img/header-social-twitter.png)
			}
		}
		&-instagram{
			a{
				// background-image: url(../img/header-social-insta.png)
			}
		}
		&-pinterest{
			a{
				// background-image: url(../img/header-social-pinterest.png)
			}
		}
		&-linkedin{
			a{
				// background-image: url(../img/header-social-linkedin.png)
			}
		}
		&-list{
			li{
				display: inline-block;
				margin: 0 8px;
			}
			a{
				display: block;
				width: 20px;
				height: 20px;

				background-size: auto 100%;
				background-position: center;
				background-repeat: no-repeat;
				svg{
					height: 100%;
    			margin: 0 auto;
  				display: block;
				}
				&:hover{
					// opacity: .7;
					svg{
						path, rect, circle{
							fill: @color-3;
						}
					}
				}
			}
		}
	}
}
.hero-section{
	width: 100%;
	&_wrapper{
		width: 100%;
	}
	&_left{
		width: 50%;
		padding-top: 120px;
		padding-bottom: 107px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #2e2e2e;
	}
	&_right{
		width: 50%;
		position: relative;
		&-bg-img{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

			background-image: url(../img/Hero.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&_title{
		font-family: 'Taviraj';
		font-size: 4.275em;
		font-weight: 300;
		margin-bottom: 40px;
		color: #fff;
		text-align: center;
	}
	&_subtitle{
		font-family: 'Nunito Sans';
		font-weight: 400;
		font-size: 1.25em;
		line-height: 1.4444em;
		color: #fff;
		margin-bottom: 50px;
		text-align: center;
	}
	&_logo{
		max-width: 100px;
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
	&_bottom{
		.btn{
			margin-right: 20px;
			margin-bottom: 20px;
			background-color: @color-3;
			color: @color-2;

			&:hover{
				outline: none;
				background-color: @color-2;
				color: @color-3;

				-webkit-transition: all .2s ease-in-out;
				-moz-webkit-transition: all .2s ease-in-out;
				-ms-webkit-transition: all .2s ease-in-out;
				-o-webkit-transition: all .2s ease-in-out;
				transition: all .2s ease-in-out;
			}
		}
	}
}
.pro-section{
	padding: 100px 0;
	&-single{
		min-height: 600px;
		&-1{
			// .pro-section-single_title{
			// 	text-transform: none;
			// }
		}
		&_image{
		    overflow: hidden;
		    position: relative;
		    width: 100%;
		    padding-bottom: 100%;
			&-block{
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    width: 100%;
		    height: 100%;

		    img{
		    	width: 100%;
		    	height: auto;
		    	&.nohover{
		    		display: block;
		    	}
		    	&.hover{
		    		display: none;
		    	}
		    }

		     // -moz-webkit-transition: background-image .1 ease-in-out;
		     // -ms-webkit-transition: background-image .1s ease-in-out;
		     // -o-webkit-transition: background-image .1s ease-in-out;
		     // -webkit-transition: background-image .1s ease-in-out; 
		     // transition: background-image .1s ease-in-out;

		     &:hover{
 			    //  -moz-webkit-transition: background-image .1s ease-in-out;
			     // -ms-webkit-transition: background-image .1s ease-in-out;
			     // -o-webkit-transition: background-image .1s ease-in-out;
			     // -webkit-transition: background-image .1s ease-in-out; 
			     // transition: background-image .1s ease-in-out;
						img{
		 		    	&.nohover{
				    		display: none;
				    	}
				    	&.hover{
				    		display: block;
				    	}
						}
		     }
				&-1{
					// background-image: url(../img/pro-his-1.jpg);
					&:hover{
						// background-image: url(../img/pro-his-4.jpg);
					}
				}
				&-2{
					// background-image: url(../img/pro-hers-pc-1.jpg);
					&:hover{
						// background-image: url(../img/pro-hers-pc-4.jpg);
					}
				}
				&-3{
					// background-image: url(../img/pro-hers-pcos-1.jpg);
					&:hover{
						// background-image: url(../img/pro-hers-pcos-4.jpg);
					}
				}
			}
		}
		&_title{
			font-size: 2.5em;
			// text-transform: uppercase;
			// text-transform: lowercase;
			font-family: 'Taviraj';
			font-weight: 500;
			color: #2e2e2e;
			margin-bottom: 13px;
			margin-top: 25px;
		}
		&_subtitle{
			font-size: 1em;
			font-family: 'Nunito Sans';
			font-weight: 400;
			color: #2e2e2e;
			padding-bottom: 15px;
			

			border-bottom: 1px solid @color-2;
		}
		&_details{
			padding: 15px 0 15px 0;
			&:hover, &:active, &:focus{
				text-decoration: none;
			}
			&-text{
				font-family: 'Nunito Sans';
				font-weight: 700;
				font-size: 1.25em;
				color: #2e2e2e;
			}
			&-btn{
				font-size: 1.5em;
				color: @color-2;

				font-weight: 600;
    		font-family: 'Nunito Sans';
				&:hover, &:active, &:focus{
					color: @color-2;
					text-decoration: none;
				}
				.open{
					display: block;
				}
				.closed{
					display: none;
				}
			}
			&.collapsed{
				.open{
					display: none;
				}
				.closed{
					display: block;
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
		&_btn{
			background-color: @color-2;
			color: #2e2e2e !important;
			font-family: 'Taviraj';
			font-size: 1em;
			font-weight: 600;

			padding: 18px 20px;

			-webkit-align-self: flex-start;
			-moz-align-self: flex-start;
			-ms-align-self: flex-start;
			-o-align-self: flex-start;
			align-self: flex-start;
			&:hover{
					background-color: @color-3;
					color: @color-2 !important;

					-webkit-transition: all .2s ease-in-out;
					-moz-webkit-transition: all .2s ease-in-out;
					-ms-webkit-transition: all .2s ease-in-out;
					-o-webkit-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
			}
		}
	}
}
.about-the-product{
	h3{
		font-size: 1.25em;
		font-family: 'Nunito Sans';
		font-weight: 700;
		margin: 10px 0 10px 0;
	}
	ul{
    list-style: none;
		li{
			font-family: 'Nunito Sans';
			font-weight: 400;
			font-size: 1em;
			line-height: 1.4444em;
			&:before {
			    content: "";
			    line-height: 1.4444em;
			    width: 3px;
			    height: 3px;
			    background-color: @color-3;
			    float: left;
			    margin: .5em 5px 0;
			    border-radius: 50%;
			}
		}
	}
	p{
		font-family: 'Nunito Sans';
		font-weight: 400;
		font-size: 1em;
		line-height: 1.4444em;

		margin-bottom: 25px;
	}
}
.whycrown-section{
	background-color: @color-2;
	.row{
		margin-left: 15px;
		margin-right: 15px;
		>div{
			padding: 0 40px;
		}
	}
	&_wrapper{
		padding: 90px 0;
	}
	&_title{
		font-size: 3.75em;
		font-family: 'Taviraj';
		font-weight: 400;
		color: #fff;
		margin-bottom: 28px;
	}
	&_title-bottom{
		font-family: 'Taviraj';
		font-weight: 400;
		font-size: 2.5em;
		color: #fff;
		margin-bottom: 28px;
	}
	&_blocks{
		margin-top: 75px;
		margin-bottom: 90px;
	}
	&-block{
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		border: 1px solid #fff;
		position: relative;

		height: 100%;
		&-2{
			img{
				left: 5% !important;
				top: -4px;
			}
		}
		&-3{
			img{
				left: 8.5% !important;
				max-width: 69% !important;
			}
		}
		&_title{
			color: #2e2e2e;
			font-size: 1.5em;
			font-family: 'Nunito Sans';
			font-weight: 600;
	    line-height: 1.2em;
			margin-bottom: 15px;
		}
		&_copytext{
			color: #2e2e2e;
			font-size: 1.125em;
			line-height: 1.4444em;
			font-family: 'Nunito Sans';
			font-weight: 400;
		}
		&_top-logo{
			position: absolute;
	    top: -47px;
	    width: 95px;
	    height: 95px;
	    border: 1px solid #fff;
	    background-color: @color-2;
	    border-radius: 100%;
	    left: 0;
	    right: 0;
	    margin: auto;
	    img{

	    	display: block;
	    	position: absolute;
	    	top: 0;
	    	bottom: 0;
	    	left: 0;
	    	right: 0;
	    	max-width: 70%;
	    	max-height: 70%;
	    	margin: auto;
	    }
		}
	}
	&_btn{
		background-color: #fff;
		font-weight: 600;
		font-size: 1em;
		font-family: 'Taviraj';
		color: #2a2f35;
		display: block;
		padding: 16px 0;
		margin: 0 auto;

		width: 100%;
		max-width: 320px;
		&:hover{
			color: @color-2;
			background-color: @color-3;
			text-decoration: none;

			-webkit-transition: all .2s ease-in-out;
			-moz-webkit-transition: all .2s ease-in-out;
			-ms-webkit-transition: all .2s ease-in-out;
			-o-webkit-transition: all .2s ease-in-out;
			transition: all .2s ease-in-out;
		}
	}
}
.main-footer{
	background-color: #2e2e2e;
	&_wrapper{
		padding: 14px 0 10px 0;
	}
	&_left{
		p{
			font-size: .875em;
			font-family: 'Nunito Sans';
			color: #fff;
			font-weight: 400;
		}
		a{
			color: #fff;
		}
	}
	&_right{
		// width: 25%;
		&_socials{
			&-fb{
				a{
					// background-image: url(../img/footer-social-fb.png)
				}
			}
			&-twitter{
				a{
					// background-image: url(../img/footer-social-twitter.png)
				}
			}
			&-instagram{
				a{
					// background-image: url(../img/footer-social-insta.png)
				}
			}
			&-pinterest{
				a{
					// background-image: url(../img/footer-social-pinterest.png)
				}
			}
			&-linkedin{
				a{
					// background-image: url(../img/footer-social-linkedin.png)
				}
			}
			&-list{
				li{
					display: inline-block;
					margin: 0 8px;
				}
				a{
					display: block;
					width: 20px;
					height: 20px;

					background-size: auto 100%;
					background-position: center;
					background-repeat: no-repeat;
					svg{
						height: 100%;
	    			margin: 0 auto;
	  				display: block;
						path, rect, circle{
							fill: #fff;
						}
					}
					&:hover{
						// opacity: .7;
						svg{
							path, rect, circle{
								fill: @color-2;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1200px){
	.main-footer_left{
		width: 75%; 
	}
}
@media screen and(max-width: 992px){
	.main-footer{
		&_left{
			span{
				display: block;
				margin-bottom: 7px;
				&.dot{
					display: none;
				}
			}
		}
		&_right{
			&_socials-list{
				 li{
				 	margin: 0 5px;
				 }
			}
		}
	}
	.whycrown-section{
		&_blocks{
			>.row{
				display: block;
			}
		}
		&-block{
			margin-bottom: 75px;
		}
	}
}

@media screen and(max-width: 768px){
	.xs{
		&_d-b{
			display: block;
		}
		&_flex{
		  -webkit-display: flex;
		  -moz-display: flex;
		  -ms-display: flex;
		  -o-display: flex;
		  display: -webkit-box;
		  display: -ms-flexbox; /* ie 10 */
		  display:-webkit-flex;
		  display: flex;
		  &_j{
		    &-c{
		      -webkit-justify-content: center;
		      -moz-justify-content: center;
		      -ms-justify-content: center;
		      -o-justify-content: center;
		      -webkit-box-pack: center;
		      -ms-flex-pack: center;
		      justify-content: center;
		    }
		    &-fe{
		      -webkit-justify-content: flex-end;
		      -moz-justify-content: flex-end;
		      -ms-justify-content: flex-end;
		      -o-justify-content: flex-end;
		      -webkit-box-pack: flex-end;
		      -ms-flex-pack: flex-end;
		      justify-content: flex-end;
		    }
		    &-fs{
		      -webkit-justify-content: flex-start;
		      -moz-justify-content: flex-start;
		      -ms-justify-content: flex-start;
		      -o-justify-content: flex-start;
		      -webkit-box-pack: flex-start;
		      -ms-flex-pack: flex-start;
		      justify-content: flex-start;
		    }
		    &-sb{
		      -webkit-justify-content: space-between;
		      -moz-justify-content: space-between;
		      -ms-justify-content: space-between;
		      -o-justify-content: space-between;
		      -webkit-box-pack: space-between;
		      -ms-flex-pack: justify; /* ie 10 */
		      justify-content: space-between;
		    }
		  }
		  &_ai{
		    &-c{
		      -webkit-align-items: center;
		      -moz-align-items: center;
		      -ms-align-items: center;
		      -o-align-items: center;
		      -webkit-box-align: center;
		      -ms-flex-align:center; /* ie 10 */
		      align-items: center;
		    }
		    &-fs{
		      -webkit-align-items: flex-start;
		      -moz-align-items: flex-start;
		      -ms-align-items: flex-start;
		      -o-align-items: flex-start;
		      -webkit-box-align: flex-start;
		      -ms-flex-align:flex-start; /* ie 10 */
		      align-items: flex-start;
		    }
		    &-fe{
		      -webkit-align-items: flex-end;
		      -moz-align-items: flex-end;
		      -ms-align-items: flex-end;
		      -o-align-items: flex-end;
		      -webkit-box-align: flex-end;
		      -ms-flex-align:flex-end; /* ie 10 */
		      align-items: flex-end;
		    }
		    &-st{
		      -webkit-align-items: stretch;
		      -moz-align-items: stretch;
		      -ms-align-items: stretch;
		      -o-align-items: stretch;
		      -webkit-box-align: stretch;
		      -ms-flex-align:stretch;
		      align-items: stretch;
		    }
		  }
		  &_dir{
		    &-col{
		      -webkit-flex-direction: column;
		      -moz-flex-direction: column;
		      -ms-flex-direction: column;
		      -o-flex-direction: column;
		      -webkit-box-orient: vertical; /*ie10*/
		      flex-direction: column;
		    }
		    &-colrev{
		      -webkit-flex-direction: column-reverse;
		      -moz-flex-direction: column-reverse;
		      -ms-flex-direction: column-reverse;
		      -o-flex-direction: column-reverse;
		      -webkit-box-orient: vertical; /*ie10*/
		      -webkit-box-direction: reverse;
		      flex-direction: column-reverse;
		    }
		  }
		}
	}
	body{
		font-size: 12px;
	}
	.btn{
		font-size: 1.5em !important;
		width: 100%;
	}
	.main-header{
		&_logo{
			max-width: 80px;
		}
		&_socials-list{
			a{
				width: 15px;
				height: 15px;
			}
		}
	}
	.hero-section{
		overflow: hidden;
		&_title{
			font-size: 3em;
			br{
				display: none;
			}
		}
		&_subtitle{
			br{
				display: none;
			}
		}
		&_left{
			width: 100%;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		&_right{
			width: 100%;
			height: 400px;
		}
		&_logo{
			text-align: center;
			margin: 0 auto;
			 img{
			 	display: inline-block;
			 }
		}
	}
	.pro-section{
		padding: 50px 0 0 0;
		&-single{
			margin-bottom: 60px;
			&_details-btn{
				span{
					font-size: 1.5em;
				}
			}
		}
	}
	.whycrown-section{
		&_title{
			font-size: 3em;
		}
		&_wrapper{
			padding: 50px 0;
		}
		&_blocks{
			margin-bottom: 0;
			>.row{
				margin-left: -15px;
				margin-right: -15px;
				>div{
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
	.main-footer{
		&_left{
			width: 50%;
		}
		&_right{
			width: auto;
			&_socials-list{
				 a{
				 	width: 15px;
				 	height: 15px;
				 }
			}
		}
	}
}
@media screen and (min-width: 992px){
	.pro-section{
		&-single{
			min-height: 600px;
		}
	}
	.whycrown-section-block{
		min-height: 280px;
	}
}
@media screen and(min-width: 992px) and(max-width:1200px){
	.whycrown-section-block{
		min-height: 355px;
	}
}
@media screen and(min-width: 1200px) and(max-width:1400px){
	.whycrown-section-block{
		min-height: 305px;
	}
}
@media screen and(min-width: 1400px){
	.container{
		width: 1380px;
	}
}

@media screen and (min-width: 993px) and (max-width: 1920px){
	.hero-section_title{
		font-size: 3.4vw;
	}
}